{{> organisms-header }}
{{> atoms-page-title }}
<main role="main">
	<img src="https://placehold.co/2000x500" alt="Placeholder image">
	<div class="l-container">
		{{!-- {{# hero }}
		{{> molecules-hero width="1200" height="800" }}
		{{/ hero }} --}}

		<div class="flow">
			{{!-- <h2>{{{ page.title }}}</h2>
			<p class="large bold">{{{ page.description }}}</p> --}}

			<p class="large bold">{{{ intro.paragraphs }}}</p>

			<h2 class="bold">{{{ togetherCreate.heading }}}</h2>			
			
			<div class="flex">
				{{#each togetherCreate.items }}
					<div class="icon-text">
						{{{ text }}}
					</div>
				{{/ each }}
			</div>
		</div>

		{{!-- <p>{{{ boldRedText }}}</p> --}}

		<h2>{{{ priorities.heading }}}</h2>
		{{> molecules-tabs }}

		<div class="text-center">
			<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI?si=_WYX7Yo_L5pEb3HF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		
		{{!-- <p style="color: red !important; text-align: center;">VIDEO PLACEHOLDER HERE</p> --}}

		{{!-- <h2>{{{ ucToday.heading }}}</h2> --}}
		{{!-- <div class="largest-class flex">
			{{#each ucToday.items }}
				<div>{{{ text }}}</div>
			{{/ each }}
		</div> --}}

	</div>


</main>
{{> organisms-footer }}
