{{> molecules-skip-link }}
{{> organisms-header }}
{{> atoms-page-title }}
<main id="main" role="main">
	<img src="https://foundation.uc.edu/image/220412crInnovationHub0025-crop.jpg" alt="Placeholder image">
	<div class="l-container">
		{{!-- {{# hero }}
		{{> molecules-hero width="1200" height="800" }}
		{{/ hero }} --}}

		<div class="flow">
			{{!-- <h2>{{{ page.title }}}</h2>
			<p class="large bold">{{{ page.description }}}</p> --}}

			<p class="large bold">{{{ intro.paragraphs }}}</p>

			<h2 class="bold">{{{ togetherCreate.heading }}}</h2>			
			
			<div class="flex">
				{{#each togetherCreate.items }}
					<div class="icon-text">
						{{{ text }}}
					</div>
				{{/ each }}
			</div>
		</div>

		{{!-- <p>{{{ boldRedText }}}</p> --}}

		<h2>{{{ priorities.heading }}}</h2>
		{{> molecules-tabs }}

		<!--<div class="text-center">
			<iframe class="youtube-video" width="1000" height="755" src="https://www.youtube.com/embed/NpEaa2P7qZI?si=_WYX7Yo_L5pEb3HF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>-->
		
		{{!-- {{{ blockquote.html }}} --}}
		{{> atoms-blockquote-with-headshot }}

		<h2>{{{ whyNow.heading }}}</h2>
		<div class="flow">
			{{{ whyNow.paragraphs }}}
		</div>

		<div class="contact-card">
			<h3 class="name">To learn more about student philanthropy, contact</h3>
			<div class="flex">
				<div class="col-image">
					<div class="image ">
						<img alt="Headshot of Chris Eden" data-emptytext="Image" src="{{{ contactCard.image }}}">
					</div>
				</div>
				<div class="body flow p-1">
					<p class="name">
						<strong>
							<span class="title">{{{ contactCard.title }}}</span>
						</strong>
					</p>
					<p>
						<strong>
							<span class="title">{{{ contactCard.position }}}</span>
						</strong>
					</p>
					<p class="address"><a href="mailto:Chris.Eden@foundation.uc.edu">{{{ contactCard.email }}}</a> or<br>{{{ contactCard.phone }}}</p>
				</div>
			</div>
		</div>

	</div>


</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}