<div class="imageCaption">
    <img src="{{ src }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" class="c-stacked-block__img cmp-image__image" />
    <p class="caption">{{ caption }}</p>
</div>