{{> molecules-skip-link }}
{{> organisms-header }}
{{> atoms-page-title }}
<main id="main" role="main">
	<img src="https://foundation.uc.edu/image/220412crInnovationHub0025-crop.jpg" alt="Placeholder image">
	<div class="l-container">
		{{!-- {{# hero }}
		{{> molecules-hero width="1200" height="800" }}
		{{/ hero }} --}}

		<div class="flow">
			{{!-- <h2>{{{ page.title }}}</h2>
			<p class="large bold">{{{ page.description }}}</p> --}}

			<p class="large bold">{{{ intro.paragraphs }}}</p>

			<h2 class="bold">{{{ togetherCreate.heading }}}</h2>			
			
			<div class="flex">
				{{#each togetherCreate.items }}
					<div class="icon-text">
						{{{ text }}}
					</div>
				{{/ each }}
			</div>
		</div>

		{{!-- <p>{{{ boldRedText }}}</p> --}}

		<h2>{{{ priorities.heading }}}</h2>
		{{> molecules-tabs }}

		<!--<div class="text-center">
			<iframe class="youtube-video" width="1000" height="755" src="https://www.youtube.com/embed/NpEaa2P7qZI?si=_WYX7Yo_L5pEb3HF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>-->
		
		{{!-- {{{ blockquote.html }}} --}}
		{{> atoms-blockquote-with-headshot }}

		<h2>{{{ whyNow.heading }}}</h2>
		<div class="flow">
			{{{ whyNow.paragraphs }}}
		</div>

		<h2>{{{ studentFuture.heading }}}</h2>
		<div class="flow">
			{{{ studentFuture.paragraphs }}}
		</div>

		<div class="p-1">
			<p class="large">You can join us in elevating our commitment to student success programming with investments in the following funds:</p>
			<div id="PC25937_UpdatePanel">
				<style type="text/css">
					.ColumnNoWrapHelper {
						white-space: nowrap;
					}
					.hdCheckoutCompleteBtn {
						display: none;
					}
				</style>
				<input name="PC25937$HiddenID" type="hidden" id="PC25937_HiddenID" value="-1">
				<input name="PC25937$hdnDesignationIds" type="hidden" id="PC25937_hdnDesignationIds">
				<div id="PC25937_pnlDonationForm" role="main">            
					<h1 style="display: none;">Donation Form</h1>        
					<table class="BBFormTable DonationFormTable">
						<tbody>
							<tr>
								<td class="BBMessage DonationMessage" colspan="2">                        
								</td>
							</tr>
							<tr>
								<td class="BBMessage DonationMessage" colspan="2">                        
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="PC25937_ValidationSummary1" class="BBFormValidatorSummary DonationValidationSummary DonationClientValidationSummary" style="display:none;">
									</div>
									<div id="PC25937_ValidationSummary2" class="BBFormValidatorSummary DonationValidationSummary" style="display:none;">
									</div>
								</td>
							</tr>
							<tr>
								<td id="PC25937_DonorChallengeInfo" colspan="2" class="BBMessage DonationMessage DonorChallenge">                        
								</td>                
							</tr>
							<tr>
								<td class="BBListingHeading DonationListingHeading" colspan="2">
									<span id="PC25937_lblPersonal">Donation Information</span>
								</td>
							</tr>        
						</tbody>
						<tbody id="PC25937_TB_pnlDonation" class="DonationFormTable_DonationPanel donationInfo">
							<tr>
								<td id="PC25937_thCaptionAmount" class="BBFieldCaption DonationFieldCaption" valign="top">
									<label for="PC25937_txtAmount" id="PC25937_lblAmountCaption">Amount:</label>
								</td>		
								<td class="BBFieldControlCell DonationFieldControlCell">
									<table id="PC25937_tblAmount" class="taLeft" cellpadding="3" onkeydown="javascript:if (isEnterPressed(event)) {try{document.getElementById('PC25937_btnAddToCart').click();return false;} catch(e) {}} else return true;">
										<tbody class="donationInfo">
											<tr>
												<td class="BBFieldControlCell DonationFieldControlCell">
													<span class="vaTop" itemindex="1060" amount="50.00"><input id="PC25937_rdo_1060_5" type="radio" name="PC25937$givingLevels" value="rdo_1060_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1060_5">$50</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$50.00</span><span class="BBConvertedCurrencyLabel"></span>
												</td>
											</tr>
											<tr>
												<td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1061" amount="100.00"><input id="PC25937_rdo_1061_5" type="radio" name="PC25937$givingLevels" value="rdo_1061_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1061_5">$100</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$100.00</span><span class="BBConvertedCurrencyLabel"></span></td>
											</tr>
											<tr>
												<td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1062" amount="250.00"><input id="PC25937_rdo_1062_5" type="radio" name="PC25937$givingLevels" value="rdo_1062_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1062_5">$250</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$250.00</span><span class="BBConvertedCurrencyLabel"></span></td>
											</tr>
											<tr>
												<td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1063" amount="500.00"><input id="PC25937_rdo_1063_5" type="radio" name="PC25937$givingLevels" value="rdo_1063_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1063_5">$500</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$500.00</span><span class="BBConvertedCurrencyLabel"></span></td>
											</tr>
											<tr>
												<td class="BBFieldControlCell DonationFieldControlCell"><span class="vaTop" itemindex="1064" amount="1000.00"><input id="PC25937_rdo_1064_5" type="radio" name="PC25937$givingLevels" value="rdo_1064_5" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdo_1064_5">$1,000</label></span></td><td class="vaBottom BBFieldControlCell DonationFieldControlCell"><span>$1,000.00</span><span class="BBConvertedCurrencyLabel"></span></td>
											</tr>
											<tr id="PC25937_trOther" style="display:;">
												<td id="PC25937_tdOther" class="BBFieldControlCell DonationFieldControlCell"><span itemindex="-1"><input id="PC25937_rdoOther" type="radio" name="PC25937$givingLevels" value="rdoOther" onclick="rdo_OnClick(this);" aria-labelledby="PC25937_tblAmount"><label for="PC25937_rdoOther">Other</label></span></td><td class="wsNowrap BBFieldControlCell DonationFieldControlCell">
													<table style="margin-left: -3px">
														<tbody class="donationInfo">
															<tr>
																<td>
																	<span id="PC25937_lblSymbol" class="DonationFormTable_DonationPanel_SymbolLabel">$</span>
																</td>
																<td id="PC25937_Td1">
																	<input name="PC25937$txtAmount" type="text" maxlength="10" id="PC25937_txtAmount" class="aspNetDisabled BBFormTextbox DonationTextboxNarrow" onkeyup="UpdateSummary();">                                                    
																	<span id="PC25937_ReqFldValidatorAmount" style="display:none;"></span><span id="PC25937_CmpValidatorAmount" style="display:none;"></span>
																</td>                            
																<td>                                                        
																</td>
																<td>
																	<span id="PC25937_lblAmtRequiredMarker" class="BBFormRequiredFieldMarker DonationRequiredFieldMarker" style="visibility: visible;">*</span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
						<tbody class="additionalInfo">
							<tr id="PC25937_trDesignation">
								<td class="BBFieldCaption DonationFieldCaption DonationFieldDropDownCaption">
									<label for="PC25937_ddlDesignations" id="PC25937_lblDesignationCaption">Choose an area to support:</label>
								</td>
								<td class="BBFieldControlCell DonationFieldControlCell">
									<select name="PC25937$ddlDesignations" id="PC25937_ddlDesignations" class="BBFormSelectList DonationSelectList" style="max-width: 355px !Important;">
										<option value="1960">Marian Spencer Scholars</option>
										<option value="1944">NEXT Innovation Scholars</option>
										<option value="1939">UC Student Emergency Fund</option>
										<option value="1957">Presidential Fund Challenge</option>
									</select>                    
								</td>
							</tr>
						</tbody>
						<tbody id="PC25937_tbdCart">
							<tr id="PC25937_trAddToCart">
								<td class="BBFieldCaption DonationFieldCaption"></td>
								<td>
									<input type="button" name="PC25937$btnAddToCart" value="Add Gift" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;PC25937$btnAddToCart&quot;, &quot;&quot;, true, &quot;PC25937_TB_pnlDonation&quot;, &quot;&quot;, false, true))" id="PC25937_btnAddToCart" class="BBFormSubmitButton DonationSubmitButton">
								</td>
							</tr>            
							<tr id="PC25937_trCart">
								<td class="BBFieldCaption DonationFieldCaption"></td>
								<td>                        
								</td>
							</tr>            
						</tbody>
					</table>
					<script>
						/*
						var publicKey = '55d0259b-8201-4043-bcdc-94ee78d4f708';
						var APITokenID = '00000000-0000-0000-0000-000000000000';
						var CurrencyDecimalSeparator = '.',
							CurrencyGroupSeparator = ',';
						$(function () {
							$('#' + 'PC25937_ddlDesignations').on({
								mouseenter: function () {
									var option = $(this).find("option:selected")[0];
									if (option !== null) {
										$(this).attr("title", option.text);
									}
								}
							});
						});

						this.bbcheckout = new BBCheckoutProcessor(BLACKBAUD.netcommunity.DonationClassicCheckout, 'Payment', '00000000-0000-0000-0000-000000000000', null);
						this.bbcheckout.Configuration.Data.Key = '';
						this.bbcheckout.Configuration.TransactionType = 1;
						this.bbcheckout.Configuration.Data.ClientAppName = 'BBIS';        
						this.bbcheckout.Configuration.Data.MerchantAccountId = '';
						this.bbcheckout.Configuration.Data.IsEmailRequired = 'True';
						this.bbcheckout.Configuration.Data.IsNameVisible = 'True';
						this.bbcheckout.Configuration.Data.PrimaryColor = '';
						this.bbcheckout.Configuration.Data.SecondaryColor = '';
						this.bbcheckout.Configuration.Data.FontFamily = '';
						this.bbcheckout.Configuration.Data.UseCaptcha = 'False';
						this.bbcheckout.Configuration.WorkflowType = '2';
						this.bbcheckout.Configuration.HandleBrowserClosing = 'True';
						this.bbcheckout.Configuration.APITokenID = '00000000-0000-0000-0000-000000000000';
						this.bbcheckout.Configuration.TempConfirmationHtml = '';
						this.bbcheckout.Configuration.AllowSiteTracking = 'False';
						this.bbcheckout.intializeCheckout();
						*/
					</script>
				</div>
				<!--<div id="bbspLoadingOverlay" class="bbspLoadingOverlay">
					<img src="https://foundation.uc.edu/images/FormEngine/Loading.gif" alt="" class="bbspLoadingImage">
				</div>-->
			</div>
		</div>

		<div class="contact-card">
			<p class="large" style="margin-bottom: 10px;">To learn more about supporting our student success initiatives through philanthropy, please contact</p>
			<div class="flex">
				<div class="col-image">
					<div class="image ">
						<img alt="Headshot of Chris Eden" data-emptytext="Image" src="{{{ contactCard.image }}}">
					</div>
				</div>
				<div class="body flow p-1">
					<p class="name">
						<strong>
							<span class="title">{{{ contactCard.title }}}</span>
						</strong>
					</p>
					<p>
						<strong>
							<span class="title">{{{ contactCard.position }}}</span>
						</strong>
					</p>
					<p class="address"><a href="mailto:Chris.Eden@foundation.uc.edu">{{{ contactCard.email }}}</a> or<br>{{{ contactCard.phone }}}</p>
				</div>
			</div>
		</div>

	</div>


</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}