{{> molecules-skip-link }}
{{> organisms-header }}
{{> atoms-page-title }}
<main id="main" role="main">
	<img src="{{{ hero.src }}}" alt="{{{ hero.alt }}}">
	<div class="l-container flow">
				
		<p class="large bold">{{{ intro.paragraphs }}}</p>

		<h2 class="bold">{{{ togetherCreate.heading }}}</h2>			
		
		<div class="flex">
			{{#each togetherCreate.items }}
				<div class="icon-text">
					{{{ text }}}
				</div>
			{{/ each }}
		</div>

		<h2>{{{ priorities.heading }}}</h2>
		{{> molecules-tabs }}

		<!--<div class="text-center">
			<iframe class="youtube-video" width="1000" height="755" src="https://www.youtube.com/embed/NpEaa2P7qZI?si=_WYX7Yo_L5pEb3HF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>-->
		
		{{!-- {{{ blockquote.html }}} --}}
		{{> atoms-blockquote-with-headshot }}
		
		<h2>{{{ studentFuture.heading }}}</h2>
		<div class="flow">
			{{{ studentFuture.paragraphs }}}
		</div>

		<p class="large">You can join us in elevating student success at UC with an investment in one of the following areas of impact:</p>
		
	</div>

	<div class="l-container flow">

		<p class="text-center">Please click below for more details on each of these programs of impact.</p>
		<div class="accordion" data-aria-accordion>
			<h2 data-aria-accordion-heading>Marian Spencer Scholars</h2>
			<div data-aria-accordion-panel class="flow">
				<p>Launched in 2022, this flagship scholarship program is named for Cincinnati’s civil rights leader and UC alumna Marian Spencer.</p>
				<p>As a flagship element of UC’s commitment to Cincinnati Public Schools, the program currently provides 10 CPS graduates a year with full tuition, room and board support as well as meaningful cohort international experiences, mentoring and career coaching and a live-learn community within Marian Spencer Hall.</p>
			</div>
			
			<h2 data-aria-accordion-heading>NEXT Innovation Scholars</h2>
			<div data-aria-accordion-panel class="flow">
				<p>This highly selective scholarship program leverages UC’s signature strengths and strategic relationships to create an interdisciplinary, cohort-based educational program centered on design thinking and innovation.</p>
				<p>Students receive engagement and immersive opportunities above and beyond their course of study—working with corporate partners, faculty advisors and each other to shape a career of impact.</p>
			</div>

			<h2 data-aria-accordion-heading>Presidential Fund Challenge</h2>
			<div data-aria-accordion-panel class="flow">
				<p>The newly established College of Co-op and Professional Studies is the home through which UC’s No. 1 co-op program will expand and evolve. The college will further expand career preparedness for students and professional development for adult learners.</p>
				<p>The Office of the Preside nt has seeded this priority area with a $1 million fund for challenge initiatives and growth.</p>
			</div>

			<h2 data-aria-accordion-heading>UC Student Emergency Fund</h2>
			<div data-aria-accordion-panel class="flow">
				<p>This fund provides targeted emergency financial assistance to full-time students experiencing an unanticipated situation that could derail their studies, for example housing or transportation needs.</p>
				<p>Use of this valuable resource is growing: In the 2022-23 academic year, the fund assisted 46 students and disbursed $16,600. In the fall 2023 semester alone, awarded funds totaled to $17,373.</p>
			</div>
		</div>

		<div class="contact-card">
			<p class="large" style="margin-bottom: 10px;">To learn more about supporting our student success initiatives through philanthropy, please contact:</p>
			<div class="flex">
				<div class="col-image">
					<div class="image ">
						<img alt="Headshot of Chris Eden" data-emptytext="Image" src="{{{ contactCard.image }}}">
					</div>
				</div>
				<div class="body">
					<p class="title bold">{{{ contactCard.title }}}</p>
					<p class="title bold">{{{ contactCard.position }}}</p>
					<p class="address"><a href="mailto:Chris.Eden@foundation.uc.edu">{{{ contactCard.email }}}</a></p>
					<p class="address"><a href="tel:{{{ contactCard.phonelink }}}">{{{ contactCard.phone }}}</a></p>
				</div>
			</div>
		</div>

	</div>

</main>
{{> molecules-back-to-top }}
{{> organisms-footer }}